
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_top")
</head>
<body>
<header>
    <div class="topmenu spacing">
        <span class="site-logo thin-font"><a href="/"><i class="fa fa-venus-mars" aria-hidden="true" id="site-icon"></i>Gender<span class="fat">Representation</span>Index</a></span>
        <span class="offscreen">Menu</span><i class="fa fa-bars menu-button"></i>
        <ul class="main-navigation standard-list">
            <li><a href="/?name=sverigesradio" onclick="gender.actions.AjaxWorker('/Statistics/GetGenderRepresentation?broadcaster=sverigesradio.se', gender.listners.StatisticsAnimation); return false;">Sverigesradio.se</a></li>
            <li><a href="/?name=nrk" onclick="gender.actions.AjaxWorker('/Statistics/GetGenderRepresentation?broadcaster=nrk.no', gender.listners.StatisticsAnimation); return false;">NRK.no</a></li>
            <li><a href="@Url.Action("Charts", "Statistics")">Charts</a></li>
        </ul>
    </div>
</header>
    @RenderSection("Splash", false)
    <div class="page-wrapper spacing">
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/assets/script.js"></script>
    @RenderSection("Extra", false)
</body>
</html>
